@{
    ViewData["Title"] = "Iniciar Sesion";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>
</div>

<div class="text-center">
    <button ><a asp-controller="Usuario" asp-action="Actualizar"> Actualizar usuario</a></button>
</div>

